[flake8]
ignore = D100, D104, D105, D107, E203, E266, F403, W503
max-line-length = 79
application_import_names = weather
import-order-style = appnexus
exclude = .git, manage.py, **__pycache__**, **migrations*, **venv**, venv, **mock-weather-api**, **tests**, **settings.py