# virtual envs
venv/

# precompiled files
*pyc

# Ide files
.vscode/

# DB volumen data
data/

# Python cache
__pycache__/

# Env local variables
.env

# TODO DECOMMENT DELETE THIS IGNORE
db_config/
flask_app/