
os:
    - linux
dist: trusty

services:
    - docker
distro: alpine
sudo: required
addons:
    apt:
        packages:
            - docker-ce

            script:
    - docker-compose -f docker-compose.yml -f docker-compose-test.yml build && docker-compose -f docker-compose.yml -f docker-compose-test.yml up -d --force-recreate

