
os:
    - linux
sudo: required
addons:
    postgresql: "11.4"
    apt:
        packages:
            - postgresql
            - postgresql-server-dev
            - postgresql-contrib
            - python-setuptools

language: python
# python versions
python:
    - "3.6.9"
# install requirements
install:
    - pip install -r requirements.txt
    - pip install coveralls
# To run tests
script:
    - ./up_and_upgrade_dbs.sh &
    - coverage run manage.py test
# send coverage report to coveralls
after_success:
    coveralls
